{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
   
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>

<body>
    <section class="header">
        <nav>
            <a href="./college.html" img src=""></a>
            <div class="nav-links">
                <i class="fa fa-times" aria-hidden="true"></i>

    
                <ul>
                    {% comment %} <li><a href="registration">Registration</a></li> {% endcomment %}
                    <li><a href="image">Add</a></li>
                    {% comment %} <li><a href="{% url 'traditional' %}">Traditional</a></li>
                    <li><a href="{% url 'Partywear' %}">Partywear</a></li>
                    <li><a href="{% url 'kurtha' %}">Kurtha set</a></li>
                    <li><a href="{% url 'Skirt' %}">Skirt</a></li> {% endcomment %}
                    <li><a href="{% url 'delete1' %}">Delete</a></li>
                    {% comment %} <li><a href="{% url 'bookeddress' %}">Booked dress</a></li> {% endcomment %}
                    <li><a href="{% url 'bookeddress' %}">YourBooked dress</a></li>
                    <li><a href="{% url 'profileedit' %}">EditProfile</a></li>
                    <li><a href="/logout1">Logout</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true"></i>

            </nav>
            <div class="text">
            <h1>OUTFIT</h1>
            <p>Make yourself different</p>
            <a href="{% static 'images/d1.jpg' %}" class="btn">visit us to know more</a>
            </div>
    </section>
    <section class="course">
        <h1>Dress Types</h1>
        <p>TOP RATED Traditional</p>
        <div class="row">
            <div class="course-col">
                <h3>Traditional wear</h3>
                <p>
                    Traditional Wear which can be wore on family members wedding or your own wedding and make yourself beautiful than other's.
                    
                </p>
            </div>
            <div class="course-col">
                <h3>PartyWear</h3>
                <p>
                    Party Wear is where you can Wear any party like birthaday or new year party or other.Make yourself attracted to Others.
                
                </p>
            </div>
            <div class="course-col">
                <h3>Skirt</h3>
                <p>
                    Skirt which will make you feel comfortable and it makes you look like a pretty girl.
                </p>
           
        </div>
    </section>
    <section class="campus">
        <h1>OUR WEBSITE</h1>
        <P>Fulfill your wish on wearing all tyoe of dress<br>
            Yoyu can buy a any type of dresses which will makes you a happy and fulfills your wish on your dress.</P>
        <div class="row">
            <div class="campus-col">
                <img src="{% static 'images/t4.jpg' %}" >
                <div class="layer">
                    <h3>Traditional</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="{% static 'images/w1.jpg' %}" >
                <div class="layer">
                    <h3>WeddingWear</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="{% static 'images/a5.jpg' %}" >
                <div class="layer">
                    <h3>Anarkali</h3>
                </div>
            </div>
        </div>
        </P>
    </section>

    <section class="facilities">
        <h1>OUR COLLECTIONS</h1>
        <p>We are providing all types of outfit with good quality.</p>

        <div class="row">
            
            <div class="faci-col">
                <img src="{% static 'images/s2.jpg' %}">
                <!-- <h3>LIBRARY</h3>
                <p>while pursuing your degree you will need to use these online databases for writing
                    papers, sources for projects, and as cross-references to material you learn in class
                    or in your textbook.</p> -->

            </div>

            <div class="faci-col">
                <img src="{% static 'images/t2.jpg' %}">
                <!-- <h3>GYM</h3>
                <p>Use these health and wellness tips for college students to keep your mind and body healthy
                     now, with wellness practices that can offer a lifetime of value. </p> -->

            </div>

            <div class="faci-col">
                <img src="{% static 'images/w4.jpg' %}">
                <!-- <h3>SPORTS</h3>
                <p>Sport pertains to any form of competitive physical activity or game [1] that aims to use,
                maintain, or improve physical ability and skills while providing enjoyment to participants and,
                in some cases, entertainment to spectators.</p> -->

            </div>
        </div>
    </section>

    <section  class="cta">
        <h1>ENROLL FOR OUR VARIOUS ONLINE COURSES <br>ANYWHERE FROM KARNATAKA</h1>
        <a href="" class="btn">CONTACT US</a>
    </section>

    <section class="footer">
        <h4>ABOUT US</h4>
        <P>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
           <ion-icon name="logo-twitter"></ion-icon>


        </P>
        
    </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



</body>
</html>